body {
  display: inline;
  max-width: fit-content;
  margin: auto;
  background-color: fuchsia;
}

ul {
  display: inline;
}

.fit-picture {
  width: 500px;
  position: fixed;
  padding-left: 33%;
  padding-right: 67%;
}
